# [CODEOWNERS](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners)
#
# This repository is an experimental fork of https://github.com/awslabs/aidlc-workflows
# maintained as a personal R&D playground. It is not an official AWS release.

## Default owners for everything in the repo

*                                      @blackdog0403

.github/                               @blackdog0403
.gitignore                             @blackdog0403
aidlc-rules/                           @blackdog0403
assets/                                @blackdog0403
CHANGELOG.md                           @blackdog0403
cliff.toml                             @blackdog0403
CODE_OF_CONDUCT.md                     @blackdog0403
CONTRIBUTING.md                        @blackdog0403
LICENSE                                @blackdog0403
README.md                              @blackdog0403
scripts/                               @blackdog0403

## Secure the CODEOWNERS file

/.github/CODEOWNERS                    @blackdog0403
